button {
	border: none;
	background: none;
	display: inline-block;
	margin: 0;
    $margin: 0 0 0 .2em;
    overflow: hidden;
    $overflow: visible;
    padding: 2px 1px 0 1px;
    padding-right: 2px\9;
    $vertical-align: middle;
}

.i-button
{
    display: inline-block;
    width: 100%\9;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    text-align: left;

	top: -1px;

    padding: .2em .4em;
    padding: .35em .6em .1em .8em\9;

	font-size: 14px;
    line-height: 1.2;

	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;

   	-moz-border-radius: 4px;
	border-radius: 4px;

    border: 1px solid #666;
    border: none\9;

	background: url( '../../iface/button/button_bg.svg' ) #ddd;
	background: -moz-linear-gradient( top, #fff, #ddd );
	background: -webkit-gradient( linear, left top, left bottom, from( #fff ), to( #ddd ) );
    background: none\9;

	-webkit-box-shadow: 1px 1px 1px #333;
	-moz-box-shadow: 1px 1px 1px #333;
	box-shadow: 1px 1px 1px #333;
}

button:hover .i-button {
	top: -2px;
	left: -1px;
	-webkit-box-shadow: 2px 2px 2px #333;
	-moz-box-shadow: 2px 2px 2px #333;
	box-shadow: 2px 2px 2px #333;
}

button:active .i-button {
	top: -1px;
	left: 0;
	-webkit-box-shadow: 1px 1px 1px black;
	-moz-box-shadow: 1px 1px 1px black;
	box-shadow: 1px 1px 1px black;
}
